<div class="container-fluid">
  <div
    class="actions d-flex flex-wrap align-items-center justify-content-end mb-2"
    [hidden]="processingSettings"
  >
    <div class="custom-control custom-checkbox mr-auto" *ngIf="attachedChecklistId">
      <input
        id="force-checklist-completion-checkbox"
        [ngModel]="forceChecklistCompletion === 'yes'"
        type="checkbox"
        [disabled]="isChangingForceChecklistCompletionState"
        (change)="onChangeForceChecklistCompletionToCloseTicketState()"
        class="custom-control-input"
      />
      <label class="custom-control-label text-muted" for="force-checklist-completion-checkbox"
      >Prevent close/solve</label
      >
      &nbsp;<span
      [ngbTooltip]="
        'When checked, agents won\'t be able to solve or close this ticket until the checklist is completed'
      "
    >
      <mc-icon [name]="'question-circle'"></mc-icon>
    </span>
    </div>

    <button
      class="btn btn-default mr-1"
      ngbTooltip="Open in Bamzooka"
      (click)="onOpenInAppDomain()"
    >
      <mc-icon [name]="'box-arrow-up-right'"></mc-icon>
    </button>

    <!--  More action dropdown-->
    <!--  More action dropdown-->
    <!--  More action dropdown-->
    <!--  More action dropdown-->
    <div ngbDropdown>
      <button class="btn btn-default dropdown-without-toggle" id="actions-dropdown" ngbDropdownToggle>
        <mc-icon [name]="'three-dots-vertical'"></mc-icon>
      </button>
      <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="actions-dropdown">
        <button
          class="dropdown-item"
          *ngIf="checklist"
          [class.disabled]="isUnattachingChecklist"
          [disabled]="isUnattachingChecklist"
          (click)="onUnattachChecklist()"
        >
          <ng-template #spinner>
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-template>
          <span *ngIf="!isUnattachingChecklist; else spinner">
          <mc-icon [name]="'unlock'"></mc-icon>&nbsp;unlink checklist
        </span>
        </button>

        <button class="btn dropdown-item" (click)="onLogout()">
          <mc-icon [name]="'box-arrow-right'"></mc-icon>&nbsp;logout
        </button>
      </div>
    </div>
  </div>
  <ng-template #linkedChecklist>
    <iframe id="bam-iframe" *ngIf="checklistUrl" [src]="checklistUrl"
            style="min-height: 650px;"
            name="auth_frame" frameborder="0"></iframe>
  </ng-template>

  <ng-container *ngIf="!checklist else linkedChecklist">
    <h5>Link a checklist to this ticket</h5>
    <div class="bam-card">
      <form *ngIf="attachChecklistForm" [formGroup]="attachChecklistForm" (ngSubmit)="onAttachChecklist()" novalidate>
        <!-- Workspace selection -->
        <!-- Workspace selection -->
        <!-- Workspace selection -->
        <!-- Workspace selection -->
        <div class="form-group">
          <label for="workspace-input"
          >Workspace
            <ng-container *ngIf="fetchingWorkspaces"
            >&nbsp;
              <div class="spinner-border spinner-border-sm text-muted" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-container>
          </label>
          <select
            class="form-control"
            (change)="onWorkspaceChanged()"
            formControlName="workspace_id"
            id="workspace-input"
          >
            <option selected class="font-italic" [value]="null">Choose...</option>
            <option *ngFor="let workspace of workspaces" [value]="workspace.id">
              {{ workspace.name }}
            </option>
          </select>
        </div>

        <!-- Team selection -->
        <!-- Team selection -->
        <!-- Team selection -->
        <!-- Team selection -->
        <div class="form-group" [hidden]="!isFormControlDefinedForKey('workspace_id')">
          <label for="team-input"
          >Team
            <ng-container *ngIf="fetchingTeams"
            >&nbsp;
              <div class="spinner-border spinner-border-sm text-muted" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-container>
          </label
          >
          <select
            class="form-control"
            (change)="onTeamChanged()"
            formControlName="project_id"
            id="team-input"
          >
            <option selected class="font-italic" [value]="null">Choose...</option>
            <option *ngFor="let team of teams" [value]="team.id">
              {{ team.name }}
            </option>
          </select>
        </div>


        <!-- Checklist selection -->
        <!-- Checklist selection -->
        <!-- Checklist selection -->
        <!-- Checklist selection -->
        <div class='form-group' [hidden]="!isFormControlDefinedForKey('project_id')">
          <label for='checklist-input'
          >Checklist
            <ng-container *ngIf='fetchingChecklists'
            >&nbsp;
              <div class='spinner-border spinner-border-sm text-muted' role='status'>
                <span class='sr-only'>Loading...</span>
              </div>
            </ng-container>
          </label>
          <!-- Template or running radio button -->
          <!-- Template or running radio button -->
          <!-- Template or running radio button -->
          <!-- Template or running radio button -->
          <div class='form-group'>
            <div class='form-check form-check-inline'>
              <input
                class='form-check-input'
                type='radio'
                name='template_or_running_radio'
                formControlName='template_or_running_radio'
                id='templateRadio'
                value='template'
              />
              <label class='form-check-label' for='templateRadio'>start new</label>
            </div>
            <div class='form-check form-check-inline'>
              <input
                class='form-check-input'
                type='radio'
                name='template_or_running_radio'
                formControlName='template_or_running_radio'
                id='runningRadio'
                value='running'
              />
              <label class='form-check-label' for='runningRadio'>use existing</label>
            </div>
          </div>
          <select class='form-control' formControlName='checklist_id' id='checklist-input'>
            <option selected class='font-italic' [value]='null'>Choose...</option>
            <option *ngFor='let checklist of checklists' [value]='checklist.id'>
              {{ checklist.title }}
            </option>
          </select>
        </div>

        <button
          class='btn btn-success'
          type='submit'
          mcSpinnerInside
          [isProcessing]="attachingChecklist"
          [disabled]='attachChecklistForm.invalid || attachingChecklist'
        >
          link
        </button>
      </form>
    </div>
  </ng-container>
</div>
